# Required (choose one option)
VK_STREAM_URL="rtmp://<vk-server>/input/<vk-key>"
# or split variant:
# VK_URL="rtmp://<vk-server>/input"
# VK_KEY="<vk-key>"

# Optional
VIDEO_DIR="/root/videos"
FFMPEG_COPY=0
VIDEO_BITRATE="200k"
BUF_SIZE="400k"
PRESET="veryfast"
GOP=50
AUDIO_BITRATE="32k"
AUDIO_RATE="22050"
AUDIO_CHANNELS="1"
LOGLEVEL="info"
FFMPEG_PATH="ffmpeg"
