[Unit]
Description=VK 24/7 stream
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=__WORKDIR__
EnvironmentFile=__WORKDIR__/.env
Environment=PYTHONUNBUFFERED=1
ExecStart=__WORKDIR__/bin/run_obs.sh
Restart=always
RestartSec=5
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
